VITE_API_URL=https://caremate-api-bwe3c0bnbdh3fcem.southeastasia-01.azurewebsites.net
VITE_GOONG_API_KEY=lO7t7eGUM5GVyDPdtk1LU5jFTFKUbet6JP2qT37b
VITE_GOONG_MAPTILES_KEY=tPwA2KsdMzPgElF9wTaL1EDghcJzyTiwtVLGOQVA
